<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Delete user form</title>
  <div th:replace="fragments/header :: header-css"></div>
  <link rel="stylesheet" type="text/css" href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
  <script src="webjars/jquery/3.1.1/jquery.min.js"></script>
  <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <p class="navbar-brand text-white">
      <b><span class="align-middle" th:utext="${currentUser.getUsername()}"></span></b>
      <span class="align-middle">with roles:</span>
      <span class="align-middle" th:utext="${currentUser.getRolesString()}"></span>
    </p>
    <form th:action="@{/logout}" method="post">
      <button type="submit" class="btn btn-dark text-secondary">Logout</button>
    </form>
  </div>
</nav>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-4 text-center">
      <form action="#" th:action="@{/delete-user/{id}(id=${currentUser.id})}" th:object="${currentUser}" method="post">
        <div class="form-group">
          <label for="delete_id">ID</label>
          <input readonly type="number" th:field="*{id}" th:value="*{getId()}" class="form-control" id="delete_id" placeholder="ID">
        </div>
        <div class="form-group">
          <label for="delete_username">User Name</label>
          <input readonly type="text" th:field="*{username}" th:value="*{getUsername()}" class="form-control" id="delete_username" placeholder="UserName">
        </div>
        <div class="form-group">
          <label for="delete_firstName">First Name</label>
          <input readonly type="text" th:field="*{name}" th:value="*{getName()}" class="form-control" id="delete_firstName" placeholder="FirstName">
        </div>
        <div class="form-group">
          <label for="delete_lastName">Last Name</label>
          <input readonly type="text" th:field="*{lastName}" th:value="*{getLastName()}" class="form-control" id="delete_lastName" placeholder="LastName">
        </div>
        <div class="form-group">
          <label for="delete_email">Email</label>
          <input readonly type="email" th:field="*{email}" th:value="*{getEmail()}" class="form-control" id="delete_email" placeholder="Email">
        </div>
        <div class="form-group">
          <label for="delete_password">Password</label>
          <input readonly type="password" th:field="*{password}" class="form-control" id="delete_password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="delete_roles">Role</label>
          <select readonly multiple class="form-control" id="delete_roles">
            <option th:each="role : ${currentUser.getAuthorities()}"
                    th:text="${role.getAuthority().toString()}"
                    th:value = "${role.getAuthority().toString()}">
            </option>
          </select>
        </div>
        <div class="modal-footer">
          <a class="btn btn-secondary" th:href="@{/admin}">Close</a>
          <button type="submit" class="btn btn-primary">Delete</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>